#body {
  width: px;
  height: px;
}
#dingduan {
  height: 102px;
  background-color:#171717;
  position: relative;
  width: 1575px;
}
a:link {
  color: #55beff;
  margin-left: 800px;
}
#span {
  bottom: 0px;
  position: absolute;
  margin-left: 300px;
}
.q {
  margin-left: 13px;
  margin-right: 13px;
  color: white;
}
img {
  position: absolute;
}
#bai {
  margin-left: 300px;
  top: 20px;
  position: absolute;
}
.o-icon svg {
  fill: currentColor;
  display: block;
  height: 24px;
  vertical-align: inherit;
  width: 24px;
  color: white;
  position: absolute;
}
#zhongjian {
  height: 102px;
  background-color: #2d2d2d;
  margin-top: 541px;
  width: 1575px;
}
#zhuye {
  width: 1575px;
}
#home {
  padding: 10px 10px 10px 10px;
  color: #21627c
}